*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-width: 90em;
    margin: 0 auto
}
img{
   width: 100%;
   box-shadow: 10px 10px 20px #0000002a;
}
.box-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    gap: 10px;
}
.text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15vh;
}
h3{
    padding: 0.5em;
}
@media (max-width: 1000px) {
    .box-container{
        grid-template-columns: auto auto auto auto;
    }
}
@media (max-width: 650px) {
    .box-container{
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 500px) {
    .box-container{
        grid-template-columns: auto auto;
    }
}