*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
   width: 100%;
   box-shadow: 10px 10px 20px #0000002a;
   
}
.box-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em;
    gap: 1em;
}
.text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
}
.text a{
    color: #000;
}
h3{
    padding: 0.5em;
}
@media (max-width: 1100px) {
    .box-container{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 800px) {
    .box-container{
        grid-template-columns: auto;
    }
}
@media (min-width: 2000px) {
    .box-container{
        grid-template-columns: auto auto auto auto auto;
    }
}

